.todolist {
    background: red;
    padding: 5px;
}

.todo-item {
    margin: 10px;
}

.container {
    height: 100vh;
    background: lightblue;
}

.title {
    background: pink;
}

.body {
    background: blue;
}